openapi: 3.0.0
info:
  title: ArxOS API
  version: 1.0.0
  description: |
    ArxOS Building Management System API

    ## Authentication
    All endpoints require JWT authentication except `/auth/login` and `/auth/register`.

    ## Spatial Queries
    Spatial queries use WGS84 coordinates (SRID 4326). All distances are in meters.

    ## Rate Limiting
    API requests are limited to 100 requests per minute per authenticated user.

  contact:
    name: ArxOS Support
    email: support@arxos.io
    url: https://arxos.io/support
  license:
    name: Proprietary
    url: Proprietary License

servers:
  - url: https://api.arxos.io/v1
    description: Production server
  - url: https://staging-api.arxos.io/v1
    description: Staging server
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Buildings
    description: Building management operations
  - name: Equipment
    description: Equipment management
  - name: Spatial
    description: Spatial queries and operations
  - name: Import
    description: Data import operations
  - name: Export
    description: Data export operations

paths:
  /auth/login:
    post:
      summary: User login
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT token
                  refresh_token:
                    type: string
                    description: Refresh token
                  expires_in:
                    type: integer
                    description: Token expiry in seconds
        401:
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      summary: Refresh access token
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        200:
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  expires_in:
                    type: integer

  /buildings:
    get:
      summary: List all buildings
      tags: [Buildings]
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, created_at, updated_at]
            default: name
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        200:
          description: List of buildings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Building'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        401:
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a new building
      tags: [Buildings]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuildingRequest'
      responses:
        201:
          description: Building created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'

  /buildings/{id}:
    get:
      summary: Get building by ID
      tags: [Buildings]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Building details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        404:
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update building
      tags: [Buildings]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBuildingRequest'
      responses:
        200:
          description: Building updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'

    delete:
      summary: Delete building
      tags: [Buildings]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        204:
          description: Building deleted
        404:
          $ref: '#/components/responses/NotFound'

  /buildings/{id}/equipment:
    get:
      summary: List equipment in building
      tags: [Buildings, Equipment]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
            enum: [hvac, electrical, plumbing, sensor, security]
        - name: floor_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Equipment list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'

  /spatial/proximity:
    post:
      summary: Query equipment by proximity
      tags: [Spatial]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - center
                - radius
              properties:
                center:
                  $ref: '#/components/schemas/Point3D'
                radius:
                  type: number
                  description: Radius in meters
                  minimum: 0
                  maximum: 10000
                types:
                  type: array
                  items:
                    type: string
                    enum: [hvac, electrical, plumbing, sensor, security]
                limit:
                  type: integer
                  default: 100
                  maximum: 1000
      responses:
        200:
          description: Equipment within radius
          content:
            application/json:
              schema:
                type: object
                properties:
                  equipment:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Equipment'
                        - type: object
                          properties:
                            distance:
                              type: number
                              description: Distance from center in meters

  /spatial/bounding-box:
    post:
      summary: Query equipment by bounding box
      tags: [Spatial]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - min
                - max
              properties:
                min:
                  $ref: '#/components/schemas/Point3D'
                max:
                  $ref: '#/components/schemas/Point3D'
                types:
                  type: array
                  items:
                    type: string
      responses:
        200:
          description: Equipment within bounding box
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'

  /spatial/knn:
    post:
      summary: Find K nearest neighbors
      tags: [Spatial]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - center
                - k
              properties:
                center:
                  $ref: '#/components/schemas/Point3D'
                k:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
                types:
                  type: array
                  items:
                    type: string
      responses:
        200:
          description: K nearest equipment
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Equipment'
                    - type: object
                      properties:
                        distance:
                          type: number

  /spatial/stream:
    get:
      summary: Stream real-time spatial updates
      tags: [Spatial]
      security:
        - bearerAuth: []
      parameters:
        - name: center_x
          in: query
          required: true
          schema:
            type: number
        - name: center_y
          in: query
          required: true
          schema:
            type: number
        - name: center_z
          in: query
          required: true
          schema:
            type: number
        - name: radius
          in: query
          required: true
          schema:
            type: number
      responses:
        200:
          description: SSE stream of spatial updates
          content:
            text/event-stream:
              schema:
                type: object
                properties:
                  event:
                    type: string
                    enum: [enter, exit, move]
                  equipment:
                    $ref: '#/components/schemas/Equipment'
                  distance:
                    type: number

  /import:
    post:
      summary: Import building data
      tags: [Import]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - format
              properties:
                file:
                  type: string
                  format: binary
                format:
                  type: string
                  enum: [ifc, csv, json]
                building_id:
                  type: string
                  format: uuid
                  description: Optional existing building ID
                options:
                  type: object
                  properties:
                    ocr_enabled:
                      type: boolean
                      default: true
                    extract_diagrams:
                      type: boolean
                      default: true
                    confidence_threshold:
                      type: number
                      minimum: 0
                      maximum: 1
                      default: 0.7
      responses:
        202:
          description: Import started
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [pending, processing, completed, failed]
                  progress:
                    type: number
                    minimum: 0
                    maximum: 100

  /import/{job_id}/status:
    get:
      summary: Get import job status
      tags: [Import]
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Import job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'

  /export:
    post:
      summary: Export building data
      tags: [Export]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - building_id
                - format
              properties:
                building_id:
                  type: string
                  format: uuid
                format:
                  type: string
                  enum: [ifc, json, csv]
                include_equipment:
                  type: boolean
                  default: true
                include_spatial_data:
                  type: boolean
                  default: true
      responses:
        200:
          description: Export data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/Building'

  /equipment:
    get:
      summary: List all equipment
      tags: [Equipment]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - name: type
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, maintenance]
      responses:
        200:
          description: Equipment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Equipment'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      summary: Create equipment
      tags: [Equipment]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEquipmentRequest'
      responses:
        201:
          description: Equipment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'

  /equipment/{id}:
    get:
      summary: Get equipment by ID
      tags: [Equipment]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Equipment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'

    put:
      summary: Update equipment
      tags: [Equipment]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEquipmentRequest'
      responses:
        200:
          description: Equipment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'

    delete:
      summary: Delete equipment
      tags: [Equipment]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Equipment deleted

  /equipment/{id}/position:
    post:
      summary: Update equipment position
      tags: [Equipment, Spatial]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - position
              properties:
                position:
                  $ref: '#/components/schemas/Point3D'
                confidence:
                  type: string
                  enum: [low, medium, high]
                  default: medium
                source:
                  type: string
                  description: Source of position update
      responses:
        200:
          description: Position updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PaginationLimit:
      name: limit
      in: query
      schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 1000

    PaginationOffset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0

  schemas:
    Building:
      type: object
      required:
        - id
        - arxos_id
        - name
      properties:
        id:
          type: string
          format: uuid
        arxos_id:
          type: string
          pattern: '^BLD-[A-Z0-9]{8}$'
        name:
          type: string
        description:
          type: string
        address:
          type: string
        origin:
          $ref: '#/components/schemas/GPSCoordinate'
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateBuildingRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
        address:
          type: string
        origin:
          $ref: '#/components/schemas/GPSCoordinate'
        metadata:
          type: object

    UpdateBuildingRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        address:
          type: string
        origin:
          $ref: '#/components/schemas/GPSCoordinate'
        metadata:
          type: object

    Equipment:
      type: object
      required:
        - id
        - arxos_id
        - name
        - type
      properties:
        id:
          type: string
        arxos_id:
          type: string
          pattern: '^EQP-[A-Z0-9]{8}$'
        name:
          type: string
        type:
          type: string
          enum: [hvac, electrical, plumbing, sensor, security, other]
        status:
          type: string
          enum: [active, inactive, maintenance]
        building_id:
          type: string
          format: uuid
        floor_id:
          type: string
          format: uuid
        room_id:
          type: string
          format: uuid
        position:
          $ref: '#/components/schemas/Point3D'
        position_confidence:
          type: string
          enum: [low, medium, high]
        attributes:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateEquipmentRequest:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          type: string
          enum: [hvac, electrical, plumbing, sensor, security, other]
        building_id:
          type: string
          format: uuid
        floor_id:
          type: string
          format: uuid
        room_id:
          type: string
          format: uuid
        position:
          $ref: '#/components/schemas/Point3D'
        attributes:
          type: object

    UpdateEquipmentRequest:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        status:
          type: string
        floor_id:
          type: string
          format: uuid
        room_id:
          type: string
          format: uuid
        position:
          $ref: '#/components/schemas/Point3D'
        attributes:
          type: object

    Point3D:
      type: object
      required:
        - x
        - y
        - z
      properties:
        x:
          type: number
          format: double
        y:
          type: number
          format: double
        z:
          type: number
          format: double

    GPSCoordinate:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
        altitude:
          type: number
          format: double

    ImportJob:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, processing, completed, failed]
        progress:
          type: number
          minimum: 0
          maximum: 100
        building_id:
          type: string
          format: uuid
        format:
          type: string
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        error:
          type: string
        statistics:
          type: object
          properties:
            floors_imported:
              type: integer
            rooms_imported:
              type: integer
            equipment_imported:
              type: integer
            confidence_score:
              type: number

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        has_more:
          type: boolean

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: BAD_REQUEST
            message: Invalid request parameters

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: UNAUTHORIZED
            message: Invalid or missing authentication token

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: FORBIDDEN
            message: Insufficient permissions

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: NOT_FOUND
            message: Resource not found

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: INTERNAL_ERROR
            message: An unexpected error occurred
